<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Cartogram</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.centaur-labs.cartogram</string>
	<key>CFBundleName</key>
	<string>Cartogram</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSLocationUsageDescription</key>
	<string>Cartogram uses your location to center the map on your current position.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Cartogram uses your location to center the map on your current position.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Cartogram uses your photo locations to generate a heatmap overlay on your wallpaper.</string>
</dict>
</plist>
